  {% extends 'base.html' %}
{% block content %}

{% comment %}<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="/img/favicon.ico">
	<title>OLOLO</title>

	<!--<script src="/js/jquery.min.js"></script>-->

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/gollum-template.css">
	<link rel="stylesheet" href="css/jsPlumbToolkit-defaults.css">
	<link rel="stylesheet" href="css/jsPlumbToolkit-demo.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/index.css"/>
</head>

<body>{% endcomment %}

	<script type="text/x-jtk-templates" src="templates.html"></script>
    {% include 'webmindmaster/templates.html' %}


	<div class="mindmap-main" id="mindmap">
		<div class="mindmap-canvas">
			<!--<div class="sidebar node-palette">
				<ul>
					<li jtk-node-type="table" title="Drag to add new">
						<i class="fa fa-table btn-icon-margin"></i>
						Table
					</li>
					<li jtk-node-type="view" title="Drag to add new">
						<i class="fa fa-eye btn-icon-margin"></i>
						View
					</li>
				</ul>
			</div>-->
			<div class="controls">
				<i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode"></i>
				<i class="fa fa-pencil" mode="select" title="Select Mode"></i>
				<i class="fa fa-home" reset title="Zoom To Fit"></i>
			</div>
			<div class="miniview"></div>
		</div>
	</div>

    <input type="hidden" value="{{ tree.id }}" class="tree_id">

{% comment %}
	<script src="lib/jsPlumb-2.2.3.js"></script>
	<script src="lib/jsPlumbToolkit-1.1.0.js"></script>
	<script src="lib/demo-support.js"></script>

	<script src="app.js"></script>
{% endcomment %}



{% comment %}
</body>
</html>{% endcomment %}

{% endblock %}