  {% extends 'base.html' %}
{% load i18n %}
{% block content %}

    {% include 'webmindmaster/templates.html' %}


	{% comment %}<div class="mindmap-main" id="mindmap" style="padding-top: 0">
		<div class="mindmap-canvas"  style="height: 80vh;">
			<!--<div class="sidebar node-palette">
				<ul>
					<li jtk-node-type="table" title="Drag to add new">
						<i class="fa fa-table btn-icon-margin"></i>
						Table
					</li>
					<li jtk-node-type="view" title="Drag to add new">
						<i class="fa fa-eye btn-icon-margin"></i>
						View
					</li>
				</ul>
			</div>-->
			<div class="controls">
                <i class="fa fa-plus" save title="Save"></i>
                <i class="fa fa-plus" addroot title="Add root"></i>
				<i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode"></i>
				<i class="fa fa-pencil" mode="select" title="Select Mode"></i>
				<i class="fa fa-home" reset title="Zoom To Fit"></i>
			</div>
			<div class="miniview"></div>
		</div>
	</div>

    <input type="hidden" value="{{ tree.id }}" class="tree_id">{% endcomment %}



	{% comment %}<div id="function-bar">
		<div id="toolbar">
			<span id="node-plus" class="toolbar-btn glyphicon glyphicon-plus plus-active"></span>
			<span id="node-more" class="toolbar-btn glyphicon glyphicon-tasks"></span>
			<span id="node-info" class="toolbar-btn glyphicon glyphicon-list-alt"></span>
			<span id="node-cancel" class="toolbar-btn glyphicon glyphicon-remove"></span>
		</div>
		<div id="tip-box">
			<div class="tip-wrapper">
				<span class="tip-triangle"></span>
				<span class="tip-label"></span>
			</div>

		</div>

		<div id="label-group">
			<input class="form-control" type="text"/>
			<button class="btn btn-default btn-sm">rename</button>
		</div>
	</div>
{% endcomment %}
	<div class="mindmap-main" id="mindmap">
		<div class="mindmap-canvas" style="height: 89vh;">
			<div class="controls">
				<i class="fa fa-pencil" save title="Save"></i>
<!--				<i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode"></i>-->
<!--				<i class="fa fa-pencil" mode="select" title="Select Mode"></i>-->
				<i class="fa fa-home" reset title="Zoom To Fit"></i>
			</div>
			<div class="miniview"></div>
		</div>
	</div>

	<input type="hidden" value="{{ tree.id }}" class="tree_id">


{% endblock %}


