{% extends 'base.html' %}

{% block content %}
   <h3>{{ title }}</h3>
    <hr>
    <ol>
        {% for tree in tree_list %}
            <li>{{ tree.name }}
                &nbsp <a href="{% url 'update_tree' tree_id=tree.id %}" class="btn btn-warning">Редактировать</a>
                &nbsp <a href="{% url 'delete_tree' tree_id=tree.id %}" class="btn btn-danger">Удалить</a></li>
        {% endfor %}
    </ol>
   {% comment %} <p>
    {{ jsonstr|linebreaks }}
    </p>{% endcomment %}

    <span>{{ jsonSer|linebreaks }}</span>
<hR>


    <a href="{% url 'workspace_new_tree' tree_name='new_tree' %}"  class="btn btn-primary">Создать новое дерево</a>
    <br>

    {% comment %}<input type="button" onclick="a()" value="adgadg" />{% endcomment %}

    <script>
    function a(){
        alert('tree count: ' + {{ tree_list.count }});
    }
    </script>
{% endblock %}

