{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <br>
    <div class="row">
<div  class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
  <div class="panel-heading">{{ title }}</div>
  <div class="panel-body">
  <center>
    <table class="table-bordered table-striped" style="width: 100%; text-align:center">
    <tr>
        <td>
            <b>ID</b>
        </td>
        <td>
            <b>{% trans "Name" %}</b>
        </td>
        <td>
            <b>{% trans "Create date" %}</b>
        </td>
        <td>
            <b>{% trans "Update" %}</b>
        </td>
    </tr>
        {% for tree in tree_list %}
            <tr>
                <td>
                    <span>{{ tree.id }}</span>
                </td>
                <td>
                    <span>{{ tree.name }}</span>
                </td>
                <td>
                    <span>{{ tree.create_date }}</span>
                </td>
                <td>
                    <a href="{% url 'mindmapview' tree_id=tree.id %}" class="btn btn-warning">{% trans "Update" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
  </center>
  </div>
</div>


</div>
</div>
    <script>

    function ajaxexmpl(){
        alert('Вызов функции ajax');
        $.ajax({
            url : "/ajaxExmpl/",
            type : "POST",
            data : { 'the_post' : 'the_post' },
            dataType: 'json',
            success: function (data) {
                alert(data.post_text);
            }
    })
    }

    function log_add_tree(tree_id){
        $.ajax({
            url : "/new_tree/"+tree_id,
            type : "POST",
            data : { 'tree_id' : tree_id },
            dataType: 'json'
    })
    }

    function log_get_tree(tree_id){
        $.ajax({
            url : "/get_tree/"+tree_id,
            type : "POST",
            data : { 'tree_id' : tree_id },
            dataType: 'json'
    })
    }

    function log_delete_tree(tree_id){
        $.ajax({
            url : "/delete_tree/"+tree_id,
            type : "POST",
            data : { 'tree_id' : tree_id },
            dataType: 'json'
    })
    }

    function log_update_tree(tree_id){
        $.ajax({
            url : "/update_tree/"+tree_id,
            type : "POST",
            data : { 'tree_id' : tree_id },
            dataType: 'json'
    })
    }

    function log_add_object(object_id){
        $.ajax({
            url : "/new_object/"+object_id,
            type : "POST",
            data : { 'object_id' : object_id },
            dataType: 'json'
    })
    }

    function log_get_object(object_id){
        $.ajax({
            url : "/get_object/"+object_id,
            type : "POST",
            data : { 'object_id' : object_id },
            dataType: 'json'
    })
    }

    function log_delete_object(object_id){
        $.ajax({
            url : "/delete_object/"+object_id,
            type : "POST",
            data : { 'object_id' : object_id },
            dataType: 'json'
    })
    }

    function log_update_object(object_id){
        $.ajax({
            url : "/update_object/"+object_id,
            type : "POST",
            data : { 'object_id' : object_id },
            dataType: 'json'
    })
    }

    function log_add_field(field_id){
        $.ajax({
            url : "/new_field/"+field_id,
            type : "POST",
            data : { 'field_id' : field_id },
            dataType: 'json'
    })
    }

    function log_get_field(field_id){
        $.ajax({
            url : "/get_field/"+field_id,
            type : "POST",
            data : { 'field_id' : field_id },
            dataType: 'json'
    })
    }

    function log_delete_field(field_id){
        $.ajax({
            url : "/delete_field/"+field_id,
            type : "POST",
            data : { 'field_id' : field_id },
            dataType: 'json'
    })
    }

    function log_update_field(field_id){
        $.ajax({
            url : "/update_field/"+field_id,
            type : "POST",
            data : { 'field_id' : field_id },
            dataType: 'json'
    })
    }





    function a(){
        alert('tree count: ' + {{ tree_list.count }});
    }
    </script>

{% endblock %}

