
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% comment %}<link rel="stylesheet" type="text/css" href="{%  static 'bootstrap/dist/css/bootstrap.css' %}"/>
    <script type="javascript" src="{%  static 'jquery/dist/jquery.min.js' %}"></script>{% endcomment %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class = "page-header">

</div>


<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <div style="padding-top: 10px">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="btn btn-primary">Выйти</a>
                        {% endif %}
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>

<div class="panel-body"><br>
    {% block content %}
    {% endblock %}
<br>
</div>

<div class = "panel-footer">
    <p>&copy; 2016 – webTreeMaster</p>
</div>
</body>
</html>