/* ----------------------------------------------------------------------------------------------------- */
/* --- Node common -------------------------------------------------------------------------------- */
/* ---------------------------------------border-radius: 4px;--------------border:1px solid #ccc;------------------------------------------------ */

.table, .view {
	background: rgb(37, 37, 37) !important;

	cursor: pointer;
	font-size: 12px;
	position: absolute;
	z-index: 11;
	overflow: hidden;
	min-width:80px;
	min-height:30px;
	width: auto;

	transition: box-shadow .15s ease-in-out,background .15s ease-in-out;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.table .name, .view .name, .table li.jtk-draggable, .view li.jtk-draggable {
	background: rgb(37, 37, 37) !important;
	color: #f7ebca;
	cursor: move;
	font-size: 13px;
	line-height: 24px;
	padding: 6px;
	text-align: center;
}


.table li.jtk-draggable, .view li.jtk-draggable {
	min-width:100px;
	border-radius:14px;
}

.table .name span, .view .name span {
	cursor:pointer;
}

/* ----------------------------------------------------------------------------------------------------- */
/* --- Table nodes -------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


.table {
	margin-bottom: 0;
	min-width: 200px;
}

.table-columns {
	margin:0;
	padding:0;
}

.table-column {
	list-style-type: none;
	padding: 4px 6px;
}


.table-column-delete, .view-delete {
	color: #407364;
	padding: 2px;
	cursor: pointer;
	float: left;
	font-size: 10px;
	line-height: 10px;
}


.table-column-edit {
	color: #407364;
	float: right;
	font-size: 10px;
	cursor: pointer;
}

.new-table, .new-column, .delete, .table-column-delete {
	-webkit-transition: background-color 0.15s ease-in;
	-moz-transition: background-color 0.15s ease-in;
	-o-transition: background-color 0.15s ease-in;
	transition: background-color 0.15s ease-in;
}

.new-table:hover, .new-column:hover, .delete:hover {
	color: #ff8000;
}

.table-column-delete:hover {
	color: #434343;
}

.table-column-type-varchar, .table-column-type-checkbox {
	background-color: #95a7ab;
    height: 24px;
}

.table-column-type-integer {
	background-color: #cbe6de;
}

.table-column-type-date {
	background-color: #e5f5f0;
}

.table-column[primary-key='true'] {
	background-color:#83b8a8;
}

/* ----------------------------------------------------------------------------------------------------- */
/* --- View nodes -------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

.view {
	margin-bottom: 0;
	width: 200px;
	overflow: hidden;
	background-color: white;
}

.view-details {
	font-size: 10px;
	font-family: Courier;
	padding: 10px;
}

.view .view-delete {
	color: #f7ebca;
	padding: 2px;
	cursor: pointer;
	float:left;
	font-size: 10px;
	line-height: 20px;
}

.view .view-delete:hover {
	color: #ff8000;
}

.txtViewQuery {
	width: 390px;
	height: 200px;
}

/* ---------------------------------------------------------------------------------------------------- */
/* --- Drag/drop interactions ------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
.drop-hover {
	background-color: #629f72 !important;
	color: #FFF !important;
}

/* ----------------------------------------------------------------------------------------------------- */
/* --- Edge styles ------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

.delete-relationship {
	border-radius: 12px;
	cursor: pointer;
	text-align: center;
}

.delete-relationship:hover {
	color: #FFF;
	background-color: #434343;
	padding: 4px;
}

.common-edge path {
	stroke-width: 3;
	stroke: #767c7c;
}

.common-edge.jtk-hover path {
	stroke:#434343;
}


/* ----------------------------------------------------------------------------------------------------- */
/* --- dialogs ------------------------- */
/* ----------------------------------------------------------------------------------------------------- */

.form-labels-float {
	float: left;
	font-weight: bold;
	text-align: right;
	padding-right: 6px;
	padding-top: 6px;
	font-size: 14px;
}

.form-labels {
	font-weight: bold;
	text-align: left;
	padding-right: 6px;
	font-size: 14px;
}

.checkbox-id {
	margin-top: 6px;
	margin-left: 22px;
}

.btn-icon-margin {
	line-height: 18px;
	margin-left: 10px;
}


.pull-left { float: left; }
.clearfix { clear: both; }

/*/////////////////////////////////////////////////*/
.new-column {
        cursor: pointer;
/*    float: left;*/
    font-size: 10px;
    line-height: 20px;
/*    margin-right: 2px;*/
    padding: 2px;
}

.new-table, .edit {
	cursor: pointer;
/*    float: left;*/
	font-size: 10px;
	line-height: 20px;
/*    margin-right: 2px;*/
	padding: 2px;
}

.mindmap-canvas {
	height: 800px;
	border:1px solid #CCC;
	background-image: url(/static/mindmaster/img/backgraund.png) ;
/*  overflow: visible;*/
}
.sidebar {
	height: 800px;
	width: 250px;
}

input.column-checkbox[type=checkbox] {
	float: right;
    height: 20px;
    width: 20px;
	margin: 7px;
	line-height: normal
}

li.table-column[type=checkbox] {
	height: 23px
}

textarea.text-column {
    width: 184px;
    height: 100px;
    border:1px solid #ccc;
}

.tag {
	background-color: #83b8a8;
	border-radius: 4px;
	cursor: pointer;
	font-size: 10px;
/*	position: absolute;*/
	z-index: 11;
	overflow: hidden;
	min-width: 20px;
    max-width: 100px;
	min-height: 15px;
	width: auto;
	border:1px solid #ccc;
	margin-bottom: 0;
}

.tag-delete {
	float: right;
	margin-top: 0px;
	margin-right: 5px;
	line-height: normal;
	color: #407364;
	font-size: 10px;
	cursor: pointer;
}

.table-column-type-text {
    background-color: #cbeae1;
}